header {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--blue-700));
  color: rgb(var(--white));
}

nav {
  background-color: rgb(var(--blue-700));
  color: rgb(var(--white));
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
  padding-bottom: 2px;
}

ul > li {
  padding: 1rem 0;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  font-size: 1.2rem;
}

ul > li.active {
  border-bottom: 3px solid rgb(var(--white));
}

ul > li:hover {
  background-color: rgb(var(--blue-600));
}

ul > li:active {
  background-color: rgb(var(--blue-500));
}

main {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 0;
}
