header {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--blue-700));
  color: rgb(var(--white));
}

main {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 0;
}

ol {
  background-color: rgb(var(--white));
  box-shadow: var(--shadow-section);
  border-radius: var(--border-radius-small);
}
