<header>
  <h1>Gastos compartidos</h1>
</header>
<div>
  <nav>
    <ul>
      <li
        (click)="handleSelectSection('transactions')"
        [class.active]="sectionSelected === 'transactions'">
        Transacciones
      </li>
      <li
        (click)="handleSelectSection('members')"
        [class.active]="sectionSelected === 'members'">
        Miembros
      </li>
    </ul>
  </nav>
</div>
<main>
  @if(sectionSelected === "transactions") {
    <transactions-section />
  } @else if (sectionSelected === "members") {
    <members-section />
  }
</main>
