:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol {
  width: 100%;
  background-color: rgb(var(--white));
  box-shadow: var(--shadow-section);
  border-radius: var(--border-radius-small);
}
