@if (membersBalance.length > 0) {
  <ol>
    @for (memberBalance of membersBalance; track memberBalance.member.id) {
      <li>
        <p>{{memberBalance.member.name}}</p>
      </li>
    }
  </ol>
}
<button
  custom-button
  [shape]="'rounded'"
  [size]="'big'"
  class="fixed-bottom"
  (click)="handleClickAddMember()">
  Añadir miembro
</button>
<custom-dialog title="Nuevo miembro">
  <form [formGroup]="addMemberForm" (submit)="submitMember()">
    <div>
      <label for="name">Nombre</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Escriba el nombre del miembro"
        required
      />
    </div>
    <button custom-button type="submit" [disabled]="!addMemberForm.valid">Guardar</button>
  </form>
</custom-dialog>
