@if (members.length > 0) {
  <ol>
    @for (member of members; track member.id) {
      <li>
        <p>{{member.name}}</p>
      </li>
    }
  </ol>
}
<button
  custom-button
  [shape]="'rounded'"
  [size]="'big'"
  class="fixed-bottom"
  (click)="handleClickAddMember()">
  Añadir miembro
</button>
<custom-dialog title="Nuevo miembro">
  <form [formGroup]="applyForm" (submit)="submitMember()">
    <div>
      <label for="name">Nombre</label>
      <input id="name" type="text" formControlName="name" placeholder="Escriba el nombre del miembro"/>
    </div>
    <button custom-button type="submit">Guardar</button>
  </form>
</custom-dialog>
