:host {
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: var(--shadow-floating);
  white-space: nowrap;
  height: fit-content;
  width: fit-content;

  color: rgb(var(--white));
  background-color: rgb(var(--blue-600));
}

:host:hover {
  background-color: rgb(var(--blue-700));
}

:host:active {
  background-color: rgb(var(--blue-800));
  box-shadow: none;
}

:host:disabled {
  box-shadow: none;
  background-color: rgba(var(--secondary-color));
  cursor: initial;
}

:host.small {
  padding: 0.75rem 1.5rem;
}

:host.big {
  padding: 1.5rem 2.5rem;
}

:host.rounded {
  border-radius: 3rem;
}
